# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
.venv/
venv/
env/

# IDEs / editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Packaging / build
build/
dist/
*.egg-info/

# Logs
logs/
*.log

